

<div>
 <p> Users Profile page </p>   
  <form>
    <p>Surveys to take!</p>
    <ul>
      <% if @surveys %>
        <% @surveys.each do |survey| %>
      <li><a href="/surveys/<%=survey.id%>"><%= survey.name %></a></li>
      <li>Created by:<%= User.find(survey.user_id).username %></a></li>
      <% end %>
      <%end%>
  </form>


  <form>
  <p>Surveys Taken!</p>
    <ul>
      <% if @surveys_taken %>
        <% @surveys_taken.each do |survey_taken| %>
      <li><a href="/surveys/<%=survey_taken.id%>"><%= survey_taken.name %></a></li>
      <li>Created by:<%= User.find(survey_taken.user_id).username %></a></li>
    <% end %>
     <%end%>
  </form>

  <form>
  <p>Surveys Created!</p>
    <ul>
      <% if @surveys_created %>
        <% @surveys_created.each do |survey_created| %>
      <li><a href="/surveys/<%=survey_created.id%>/results"><%= survey_created.name %></a></li>
    <% end %>
  </form>
  <% end %>
</div>
