

<div>
  <form>
    <p>Surveys to take!</p>
    <ul>
        <% @surveys.each do |survey| %>
      <li><a href="/surveys/<%=survey.id%>"><%= survey.name %></a></li>
      <li>Created by:<%= User.find(survey.user_id).username %></a></li>
      <% end %>
  </form>


  <form>
  <p>Surveys Taken!</p>
    <ul>
        <% @surveys_taken.each do |survey_taken| %>
      <li><a href="/surveys/<%=survey_taken.id%>"><%= survey_taken.name %></a></li>
      <li>Created by:<%= User.find(survey_taken.user_id).username %></a></li>
    <% end %>
  </form>

  <form>
  <p>Surveys Created!</p>
    <ul>
        <% @surveys_created.each do |survey_created| %>
      <li><a href="/surveys/<%=surveys_created.id%>"><%= survey_created.name %></a></li>
    <% end %>
  </form>
</div>